*.pyc
*.orig
*.rej
rtpproxy.rout
dist/*
*.pid
*.sock
opensips.cfg
alice.log
bob.log
b2bua.log
kamailio.cfg
rtpproxy.log
rtpproxy.opensips.output
rtpproxy.kamailio.output
/rtpproxy.siphon.output.nr*
/siphon.yaml
/siphon.log
__pycache__
