# force run: 41
language: python
python:
  - "3.6"
before_install:
  - echo "+++ hosts orig +++"
  - cat /etc/hosts
  - echo "--- hosts orig ---"
  - sudo sh -c 'echo 0 > /proc/sys/net/ipv6/conf/all/disable_ipv6'
  - sudo sh -c 'echo >> /etc/hosts; grep "^127.0.0.1" /etc/hosts | sed "s|^127.0.0.1|::1|g" >> /etc/hosts'
  - echo "+++ hosts patched +++"
  - cat /etc/hosts
  - echo "--- hosts patched ---"
  - sh -x ./install_depends/opensips.sh
script:
    sh -x ./test_run.sh
env:
## 1. Tests with Sippy B2BUA
  - MM_TYPE=b2bua MM_BRANCH=elperiodic RTPP_BRANCH=master RTPPC_TYPE=udp
  - MM_TYPE=b2bua MM_BRANCH=elperiodic RTPP_BRANCH=master RTPPC_TYPE=udp6
  - MM_TYPE=b2bua MM_BRANCH=elperiodic RTPP_BRANCH=master RTPPC_TYPE=unix
  - MM_TYPE=b2bua MM_BRANCH=elperiodic RTPP_BRANCH=master RTPPC_TYPE=cunix
  - MM_TYPE=b2bua MM_BRANCH=elperiodic RTPP_BRANCH=master RTPPC_TYPE=tcp
  - MM_TYPE=b2bua MM_BRANCH=elperiodic RTPP_BRANCH=master RTPPC_TYPE=tcp6
